.accounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: var(--spacer-large);
}

.account {
  background: var(--color-background-900);
  padding: var(--spacer-large);
  text-align: left;
  border-radius: var(--border-radius-xsmall);
}

.total {
  color: var(--color-text-900);
  line-height: var(--line-height-base);
  margin-bottom: var(--spacer-medium);
}

.amount {
  font-size: var(--font-large);
  line-height: var(--line-height-large);
}
