.loader {
    border: 0.25rem solid var(--color-text-300);
    border-top: 0.25rem solid #9e157c; 
    border-radius: var(--border-radius-full);
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
